<h1>Restaurants:</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>address</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>

    <% @restaurants.each do |restaurant| %>
      <tr>
      <!--  <td><%= restaurant.id %></td> -->
      <td><%= restaurant.name %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.category %></td>
      <td><%= link_to "Show", restaurant, class: 'btn btn-primary' %></td>
      <td><%= link_to "Edit", edit_restaurant_path(restaurant), class: 'btn btn-secondary' %></td>
      <td><%= link_to "",
                      restaurant_path(restaurant),
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete this restaurant?"},
                      class: 'btn btn-danger fas fa-trash-alt' %></td>

    </tr>
    <% end %>

  </tbody>
</table>

<h4><%= link_to 'Add a new restaurant', new_restaurant_path %></h4>
