<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Number:</strong>
  <%= @restaurant.phone_number %>
</p>
<p>
  <strong>Reviews:</strong>
</p>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <% @reviews.each do |review| %>
      <li class="list-group-item">
        <strong><%= review.rating %> <i class="fas fa-star"></i>.:</strong>
        <%= review.content %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Go back', restaurants_path %> |
<%= link_to 'Add a new review', new_restaurant_review_path(@restaurant) %>
